﻿.outer_box {
	width: 640px;
	height: 640px;
}

.grid {
	position: relative;
	width: 12.5%;
	height: 12.5%;
	float: left;
	text-align: center;
	display: table;
}

	.grid:after {
		content: "";
		padding-bottom: 100%;
		display: table-cell;
	}

	.grid > .content {
		position: absolute;
		width: 100%;
		height: 100%;
	}

.dark {
	background-color: rgba(125, 135, 150);
	color: white;
}

.light {
	background-color: rgba(232, 235,  239);
	color: black;
}

.black .piece {
  filter: drop-shadow(5px 5px 5px #fff);
}

.white .piece {
  filter: drop-shadow(5px 5px 5px #000);
}
