﻿<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">ChessOnline</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>

		@foreach (var item in @elements)
		{
			<li class="nav-item px-3">
				<NavLink class="nav-link" href=@item.Href>
					<span class="oi @item.Ico" aria-hidden="true"></span> @item.Subtitle
				</NavLink>
			</li>
		}
	</ul>
</div>

@code {
	static List<Element> elements = new List<Element>();
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	public static void Add(
		string href,
		string oi_ico,
		string subtitle,
		string span = ""
		)
	{
		elements.Add(new Element(href, oi_ico, span, subtitle));
	}

	public NavMenu() : base()
	{
		//메뉴에 항목을 추가할 수 있다.
		//Add("ElementName", "oi-plus", "elementPage");
		Add("InGame", "oi-plus", "inGame");
	}

	public class Element
	{
		public string Ico { get; }
		public string Href { get; }
		public string Span { get; }
		public string Subtitle { get; }

		public Element(
			string href,
			string oi_ico,
			string span,
			string subtitle
			)
		{
			this.Href = href;
			this.Ico = oi_ico;
			this.Span = span;
			this.Subtitle = subtitle;
		}
	}
}
