﻿@namespace ChessOnline
@inject IJSRuntime JS

@{
  OnAwake();
}
<div class="outer_box">
  @for (int iy = 0, index = 0; iy < 8; iy++)
  {
    for (int ix = 0; ix < 8; ix++)
    {
      char x = (char)(ix + 'A');
      int y = iy + 1;
      //칸좌표
      string position = x + y.ToString();
      bool colorSwitch = (iy + ix) % 2 == 0;
      string color = colorSwitch ? "light" : "dark";

      <div class="grid @color" id=@position>

        @*렌더러 클래스로 옮길것*@
        @if (index < countMax && OnDefault(x, y))
        {

          string[] defaultArray = new string[] { "rook", "knight", "bishop", "king", "queen", "bishop", "knight", "rook" };

          string defaultPieceForm = y == 2 || y == 7 ? "pawn" : defaultArray[ix];
          string defaultPieceColor = y <= 2 ? "Dark" : "Light";

          <Piece CurrentForm=@( (Piece.Form)System.Enum.Parse(typeof(Piece.Form), defaultPieceForm + defaultPieceColor) ) X=@x
            Y=@y />
          index++;
        }
        @*렌더러 클래스로 옮길것*@
      </div>
    }
  }
  @{
    OnReady();
  }
</div>

@code
{
  bool isReady = false;
  int countMax = 32;

  //만약 초기화 이전이면 기본 위치로 배치된다.
  bool OnDefault(char x, int y)
  {
    return isReady ? true : y <= 2 || 7 <= y;
  }

  protected virtual void OnReady()
  {
    isReady = true;
  }

  protected virtual void OnAwake()
  {
    Renderer.Get.ResetPiece();
  }

  void FindPiece(char x, int y)
  {
    var pos = Position.Get(x, y);
    var piece = Renderer.Get.Pieces[pos];
  }

  void MovePiece(char x, int y)
  {
    FindPiece(x, y);
  }
}
