﻿@namespace ChessOnline
@inject IJSRuntime JS

@if (Active)
{
	string source = "resource/images/" + @Name + ".svg";
	<div class="content">
		<img class="piece @(X + Y.ToString())" alt="My Image" align="middle" src=@source @onclick="clickPiece" />
	</div>
}

@code
{

	public static List<Piece> List { get; } = new List<Piece>();
	public string Name
	{
		get
		{
			return CurrentForm.ToString();
		}
	}

	public bool Active { get; set; }
	public Position Position { get; } //현재 위치

	//Parameters
	[Parameter] public char X { get; set; }
	[Parameter] public int Y { get; set; }
	[Parameter] public string Color { get; set; } //기물 색갈
	[Parameter] public Form CurrentForm { get; set; } //체스 기물이 퀸인지 폰인지를 식별하기 위한 변수.

	protected override void OnAfterRender(bool firstRender)
	{
		Console.WriteLine(Renderer.Get.Pieces.Count);
	}

	public Piece()
	{
		if (List.Count == 32)
		{
			List.RemoveAll(obj => true);
		}

		Active = true;
		List.Add(this);

		Position = new Position(X, Y);
		Renderer.Get.Pieces.Add(Position, this);
    
	}

  public void clickPiece(MouseEventArgs e)
  {
    JS.InvokeVoidAsync("clickPiece", e, X, Y);
  }

	public enum Form
	{
		kingDark,
    kingLight,
		queenDark,
    queenLight,
		rookDark,
    rookLight,
		bishopDark,
    bishopLight,
		knightDark,
    knightLight,
		pawnDark,
    pawnLight,
	}
}
